
  
  .quiz-container {
    width: 800px;
    margin: 10px auto;
    padding: 20px;
    background: #0c0b26;
    border-radius: 20px;
    position: relative;
    color: antiquewhite;
  }
  
  .title {
    text-align: center;
    font-size: 36px;
    font-family: "Jersey 25";
    font-weight: 400;
    margin-bottom: 15px;
  }
  
  .question {
    text-align: center;
    font-size: 20px;
    font-family: "Jersey 10";
    font-weight: 400;
    margin-bottom: 20px;
    color: antiquewhite;
  }
  
  .options {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 20px;
   
  }
  
  .option-button {
    width: calc(50% - 5px);
    height: 50px;
    background: #ff9d00;
    color: antiquewhite;
    font-size: 16px;
    border-radius: 15px;
    border: 1px solid black;
    cursor: pointer;
  }
  
  /* States */
  button.selected {
    border: 2px solid #007bff;
  }
  
  button.correct {
    background-color: #247a32 !important; 
    color: antiquewhite;
  }
  
  button.wrong {
    background-color: #f44336 !important; 
    color: antiquewhite;
  }
  
  .submit-button {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .submit-btn {
    width: 100px;
    height: 30px;
    background: #ff9d00;
    color: #0023bb !important;
    font-size: 16px;
    border-radius: 50px;
    border: 1px solid black;
    cursor: pointer;
  }
  
  .quiz-completed {
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
    color: antiquewhite;
  }
  
  .dialog-actions {
    display: flex;
    justify-content: center;
    margin-top: 10px;
   
  }
  
  .end-btn {
    font-size: 16px;
    padding: 8px 20px;
    color: antiquewhite !important;
    background: #ff9d00;
  }
  