
  .quiz-container {
    width: 800px;
    margin: 10px auto;
    padding: 20px;
    background: #E3F1F3;
    border-radius: 20px;
    position: relative;
  }
  
  .title {
    text-align: center;
    color: black;
    font-size: 36px;
    font-family: "Jersey 25";
    font-weight: 400;
    margin-bottom: 15px;
  }
  
  .question {
    text-align: center;
    color: black;
    font-size: 20px;
    font-family: "Jersey 10";
    font-weight: 400;
    margin-bottom: 20px;
  }
  
  .options {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .option-button {
    width: calc(50% - 5px);
    height: 50px;
    background: #FF7D00;
    color: white;
    font-size: 16px;
    border-radius: 15px;
    border: 1px solid black;
    cursor: pointer;
  }
  
  /* States */
  button.selected {
    border: 2px solid #007bff;
  }
  
  button.correct {
    background-color: #4caf50 !important; 
    color: white;
  }
  
  button.wrong {
    background-color: #f44336 !important; 
    color: white;
  }
  
  .submit-button {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .submit-btn {
    width: 100px;
    height: 30px;
    background: #FF7D00;
    color: white;
    font-size: 16px;
    border-radius: 50px;
    border: 1px solid black;
    cursor: pointer;
  }
  
  .quiz-completed {
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
  }
  
  .dialog-actions {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .end-btn {
    font-size: 16px;
    padding: 8px 20px;
  }
  