<mat-dialog-content>
  <div class="resources-container">
    <h2>Resources</h2>
    <ul class="resources-list">
      <li>
        <a href="https://www.swr3.de/aktuell/nachrichten/ki-strom-verbrauch-energie-100.html" target="_blank" rel="noopener noreferrer">
          SWR3: KI Stromverbrauch Energie
        </a>
      </li>
      <li>
        <a href="https://www.greenpeace.de/ueber-uns/loesungen-finden/kuenstliche-intelligenz-energieverbrauch-und-umweltauswirkungen" target="_blank" rel="noopener noreferrer">
          Greenpeace: Künstliche Intelligenz - Energieverbrauch und Umweltauswirkungen
        </a>
      </li>
      <li>
        <a href="https://www.basicthinking.de/blog/2025/06/26/green-prompting-energieverbrauch-ki/" target="_blank" rel="noopener noreferrer">
          BasicThinking: Green Prompting - Energieverbrauch KI
        </a>
      </li>
      <li>
        <a href="https://meiersworld.de/greenprompting-wie-gute-prompts-das-klima-schuetzen" target="_blank" rel="noopener noreferrer">
          Meiers World: Green Prompting - Wie gute Prompts das Klima schützen
        </a>
      </li>
      <li>
        <a href="https://arxiv.org/pdf/2503.10666" target="_blank" rel="noopener noreferrer">
          arXiv: Paper 2503.10666
        </a>
      </li>
    </ul>
  </div>
</mat-dialog-content>
  <mat-dialog-actions>
    <button class="btnStyle" matButton mat-dialog-close>Okay</button>
  </mat-dialog-actions>
