<div class="wireframe1">
  <div class="container-fluid">
    <div class="row">

      <!-- LEFT PANEL -->
      <div class="col-12 col-lg-3 order-3 order-lg-1 left">
        <!-- Info destruction -->
        <div class="infodestruction">
          <div class="infotitle">You destroyed the following:</div>
          <div class="infotext scrollable">
            <ul>
              <li *ngFor="let t of leftPanelTexts">
                {{ t }}
              </li>
            </ul>
          </div>
        </div>

        <!-- Line -->
        <div class="line1"></div>

        <!-- Links -->
        <div class="links">
          <button (click)="openQuiz()" class="linkbutton">
            Test Your AI Knowledge
          </button>
          <button (click)="openResources()" class="linkbutton">
            Our Very Credible Resources
          </button>
        </div>

        <!-- Podcast -->
        <div class="podcast">
          <img src="assets/podc1.png" alt="Podcast" />
          <audio #audioPlayer>
            <source src="assets/friedenspanzer.mp3" type="audio/mpeg">
          </audio>
          <button class="play-pause-btn" (click)="toggleAudio(audioPlayer)"></button>
        </div>
      </div>

      <!-- MIDDLE PANEL -->
      <div class="col-12 col-lg-6 order-1 order-lg-2 middle">
        <div class="title">
          <h1>Destroy This Earth!</h1>
        </div>
        <div class="healthbar">
          <img src="assets/healthbar.gif" alt="healthbar"/>
        </div>

        <div class="earth">
          <div class="frame7">
            <div class="earth-container">
              <img src="assets/earth-intro.gif" alt="dying earth" />
            </div>
          </div>
        </div>

        <div class="promptinput">
          <div class="promptlabel">Prompt Input</div>
          <app-prompt-input></app-prompt-input>
        </div>
      </div>

      <!-- RIGHT PANEL -->
      <div class="col-12 col-lg-3 order-3 order-lg-3 right">
        <div class="infodestruction ">
          <div class="infotitle">Your prompt sucks because:</div>
          <div class="evaluation" [ngClass]="evaluation">
            Rating: {{ evaluation }}
          </div>
          <div class="infotext scrollable">
            {{ prompt }}
          </div>
        </div>

        <div class="line2"></div>

        <div class="rightbuttonwrapper">
          <button mat-menu-item (click)="openInfo()">Open Info</button>
        </div>
      </div>

    </div>
  </div>
</div>

<router-outlet />