

.wireframe1 {
    width: 100vw;
    height: 100vh;
    position: relative;
    background: white;
    overflow: hidden;
  }
  
  /* LEFT PANEL */
  .left {
    width: 26%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: #0c0b26;
    overflow: hidden;
    color: antiquewhite;
  }
  
  .podcast {
    width: 95%;
    height: 30%;
    position: absolute;
    left: 2%;
    bottom: 5%;
  }
  
  .rectangle3 {
    width: 100%;
    height: 100%;
    background: #D9D9D9;
  }
  
  .line1 {
    width: 100%;
    height: 0;
    position: absolute;
    top: 57%;
    border-top: 1px solid  antiquewhite;
 
  }
  
  .links {
    position: absolute;
    left: 5%;
    top: 60%;
  }
  
  .linkbutton {
    all: unset;
    cursor: pointer;
    color: #1A25FF;
    font-size: 1.5vw;
    text-decoration: underline;
  }
  
  .linkbutton:hover {
    color: #0000EE;
  }
  
  .infodestruction {
    width: 90%;
    height: 52%;
    position: absolute;
    left: 2%;
    top: 2%;
    background: #175c6c;
    overflow: hidden;
  }
  
  .infotitle {
    margin: 1vw;
    font-size: 1.5vw;
  }
  
  .infotext {
    margin: 1vw;
    margin-top: 3vw;
    font-size: 1.2vw;
  }
  
  /* RIGHT PANEL */
  .right {
    width: 26%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background: #0c0b26;
    overflow: hidden;
    color: antiquewhite;
  }
  
  .line2 {
    width: 100%;
    height: 0;
    position: absolute;
    top: 57%;
    border-top: 1px solid antiquewhite;
  }
  
  .rightbuttonwrapper {
    position: absolute;
    top: 60%;
    left: 2%;
  }
  
  /* MIDDLE PANEL */
  .middle {
    width: 48%;
    height: 100%;
    position: absolute;
    left: 26%;
    top: 0;
    background: antiquewhite;
    overflow: hidden;
  }
  
  .earth {
    width: 64%;
    height: 50%;
    position: absolute;
    left: 18%;
    top: 25%;
  }
  
  .frame7 {
    width: 100%;
    height: 100%;
    position: absolute;
  }
  
  .earth-container img {
    width: 100%;
    height: 300px;
  }
  
  .title {
    width: 55%;
    height: 5%;
    position: absolute;
    left: 28%;
    top: 6%;
  }
  
  h1 {
    font-size: 2.5vw;
    font-weight: 700;
    color: #d22b22;
  }
  
  .promptinput {
    width: 85%;
    height: 12%;
    position: absolute;
    left: 7.5%;
    bottom: 5%;
  }
  
  .promptlabel {
    font-size: 2vw;
    font-weight: 600;
    color: #d22b22;
  }
  