/* You can add global styles to this file, and also import other style files */
/*tailwind leftovers - need cleaning */
@import "tailwindcss";


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.mdc-dialog--open .mat-mdc-dialog-surface {
    background-color: #175c6c !important ; 
  }
